{% extends "admin/admin.jinja2" %}
{% block content %}
<h1>{% trans %}Admin interface{% endtrans %}</h1>
<h2>{% trans %}Images{% endtrans %}:</h2>
<table id="page-table" class="bordered width-100">
  <tbody>
    {% for image in images %}
    <tr>
      <td class="width-100">
        <img src="/static/uploaded/images/{{ image }}" class="width-33"/>
      </td>
      <td>
        <a href="{{ request.route_path('admin_object_target', object='image', action='delete', target=image) }}" 
          onclick="javascript:return confirm('{% trans %}Are you sure you want to delete?{% endtrans %}')">
          <button class="btn red">{% trans %}delete{% endtrans %}</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

