{% extends "admin/admin.jinja2" %}
{% block content %}
<h1>{% trans %}Admin interface{% endtrans %}</h1>
<h2>{% trans %}User {% endtrans %}{{ user.login }}:</h2>
There is a description
{% endblock %}

